<button class="theme-toggle position-relative" type="button" title="Toggle Dark/Light Mode" aria-label="Toggle theme">
    <i class="fas fa-moon theme-icon-moon"></i>
    <i class="fas fa-sun theme-icon-sun"></i>
</button>
